.footer {
    position: relative;
    height: 15vh;
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5em;
}

.socials__link {
    padding: 10px;
}