:root {
    --black: #0D0D0D;
    --white: #e5e5e5;
    --burger-time: .3s;
    --header-grey: #bdbebd;
    --nav-transition: .5s;
    --margin-header: 15vw;
    --margin-page: 10vw;
    --title: 2.5rem;
    --content: 1.5em;
    --show-time: 1s;
}